body {
  font-family: sans-serif;
  background-color: white;
  color: #2d3748;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffffcc;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

.highlight {
  color: #4f46e5;
}

section {
  padding: 100px 20px;
}

button {
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
